Vistas/obj/x86/Debug/ABMClientes.baml
Vistas/obj/x86/Debug/ABMClientes.g.cs
Vistas/obj/x86/Debug/ABMClientes.g.i.cs
Vistas/obj/x86/Debug/App.g.cs
Vistas/obj/x86/Debug/MainWindow.baml
Vistas/obj/x86/Debug/MainWindow.g.cs
Vistas/obj/x86/Debug/Vistas.csproj.FileListAbsolute.txt
Vistas/obj/x86/Debug/Vistas.csproj.GenerateResource.Cache
Vistas/obj/x86/Debug/Vistas.csprojResolveAssemblyReference.cache
Vistas/obj/x86/Debug/Vistas.exe
Vistas/obj/x86/Debug/Vistas.g.resources
Vistas/obj/x86/Debug/Vistas.pdb
Vistas/obj/x86/Debug/Vistas.Properties.Resources.resources
Vistas/obj/x86/Debug/Vistas_MarkupCompile.cache
Vistas/bin/Debug/ClasesBase.dll
Vistas/bin/Debug/ClasesBase.pdb
Vistas/bin/Debug/Vistas.exe
Vistas/bin/Debug/Vistas.pdb
ClasesBase/obj/Debug/ClasesBase.csproj.FileListAbsolute.txt
ClasesBase/obj/Debug/ClasesBase.csprojResolveAssemblyReference.cache
ClasesBase/obj/Debug/ClasesBase.dll
ClasesBase/obj/Debug/ClasesBase.pdb
ClasesBase/bin/Debug/ClasesBase.dll
ClasesBase/bin/Debug/ClasesBase.pdb
*.lock
*.ide
*.ide-shm
*.ide-wal
/ClasesBase/obj/Debug
/.vs/LPOOII_GRUPO02/v15/.suo
